.backButtonWrapper {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    text-align: center;
    gap: 1rem;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
