.cardMobile {
  display: flex;
  flex-direction: row-reverse;
  // border-radius: var(--radius-lg);
  background-color: var(--color-white);
  height: 100%;
  width: 100%;

  @media (min-width: 1280px) {
    &:hover {
      transform: scale(107%) translateY(-8px);
    }
  }
}
