.tooltipWrapper {
  display: inline-flex;
  align-items: center;
  // margin-left: 4px;
}

.tooltipButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--second-text-color);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.tooltipButton:hover {
  color: var(--primary-color);
  background: var(--background-secondary);
}

.icon {
  display: block;
}
