@use '../../../../styles/grid' as grid;

.cardGrid {
  @include grid.card-grid;
  align-items: stretch;
  justify-items: stretch;
}

.cardList {
  max-height: 52rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

@media (max-width: 767px) {
  .cardList {
    max-height: 50rem;
  }
}
