.header {
	display: flex;
	flex-direction: row;
	height: 32px;
	background-color: var(--main-color);
	align-items: center;

	&__logo {
		object-fit: contain;
		object-position: left center;
		height: auto;
		width: auto;
	}
}

@media screen and (max-width: 900px) {
	.header {
		height: 24px;

		&__logo {
			height: 16px;
			width: auto;
		}
	}
}