.header {
  display: flex;
  flex-direction: row;
  height: 52px;
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;

  &__logo {
    object-fit: contain;
    object-position: left center;
    height: auto;
    width: auto;
  }
}
.header__logo_wrapper {
  flex: 1;
align-self: center;
}

@media screen and (max-width: 900px) {
  .header {
    height: 32px;

    &__logo {
      height: 16px;
      width: auto;
     
    }
  }
}
