.header {
  display: flex;
  flex-direction: row;
  height: 52px;
  background-color: var(--main-color);
  align-items: center;

  &__logo {
    object-fit: contain;
    object-position: left center;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: 32px;

    &__logo {
      height: 16px;
      width: auto;
      margin-left: 20px; //потом будет иконка бургер меню и в одном диве с логотипом
    }
  }
}
